$header-color: #bedcff;
$text-color: #002681;
$header-bg-color: #a3b6ca6a;
$button-bg-color: #b7cce1;

body {
    margin: 0;
    // height: 10000px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    user-select: none;
}

.header-bg {
    display: flex;
    background-color: $header-color;
    width: 800px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    position: fixed;

    & .header {
        display: flex;
        align-items: center;

        & .header-list {
            display: flex;
            padding-left: 0;
            margin: 0;
            height: 60px;

            & .header-list-element {
                display: flex;
                height: 100%;

                &:first-child {
                    border-bottom-left-radius: 30px;
                }

                &:hover {
                    background-color: $header-bg-color;
                    transition: 0.25s ease;
                }

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 125px;
                    font-size: 20px;
                    color: #002681;
                }
            }
        }

        & .avatar {
            display: flex;
            align-items: center;
            right: 30px;
            position: absolute;

            & img {
                width: 50px;
            }
        }
    }
}

.logo {
    position: fixed;

    & img {
        width: 100px;
        left: 130px;
        position: absolute;
        margin-top: 90px;
        animation: rotateAlways 1.5s linear infinite;
    }
}

@keyframes rotateAlways {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.categories-bg {
    position: fixed;

    display: flex;
    top: 240px;
    left: 95px;

    & .categories {
        text-align: center;

        & span {
            font-size: 28px;
            color: $text-color;
            font-weight: bold;
        }

        & .categories-list {
            padding: 0;

            & .categories-list-element {
                margin: 20px 0 20px 0;
                font-size: 20px;

                & a {
                    color: $text-color;
                    background-color: $header-color;
                    height: 40px;
                    width: 175px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 25px;

                    &:hover {
                        background-color: $button-bg-color;
                        transition: 0.25s ease;
                    }
                }
            }
        }
    }
}

.main {
    margin: auto;
    margin-left: 370px;
    width: 830px;
    height: 100px;
    position: relative;
    top: 110px;

    & .search-bg {
        display: flex;
        justify-content: right;

        & form input {
            height: 30px;
            border-radius: 30px;
            border: 1px solid;
            background-color: $header-color;
            color: $text-color;
            padding-left: 10px;
            margin-right: 85px;

            &::placeholder {
                position: relative;
                left: 5px;
                color: $text-color;
            }
        }
    }

    & .title {
        font-size: 28px;
        color: $text-color;
        font-weight: bold;
        width: 89.5%;
        display: block;
    }

    & .title-underline {
        width: 89.5%;
        height: 5px;
        background-color: $header-color;
    }

    & .gif {
        margin-top: 30px;
        width: 89.5%;
    }

    & .profile-info {
        display: flex;

        & .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $header-color;
            padding: 20px;
            border: 1px solid $text-color;
            max-width: 400px;
            width: 100%;
            text-align: center;
            border-radius: 20px;

            & p {
                color: $text-color;
                font-size: 20px;
            }

            & .close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px;
                background-color: $button-bg-color;
                border: 1px solid $text-color;
                border-top-right-radius: 20px;
                border-top: 0;
                border-right: 0;
                cursor: pointer;

                &:hover {
                    background-color: #c3d9ee;
                }
            }
        }

        & .profile-avatar {
            width: 225px;
            height: 225px;
            margin-top: 30px;
        }

        & .profile-list {
            display: inline-block;
            margin-top: 35px;

            & .profile-list-element {
                margin-bottom: 25px;

                & span {
                    font-size: 20px;
                    color: $text-color;
                }
            }
        }

        & form {
            display: grid;

            & label {
                margin-top: 25px;
                margin-bottom: 10px;
                color: $text-color;
                font-size: 25px;
            }

            & input {
                height: 35px;
                width: 300px;
                border-radius: 30px;
                border: 1px solid;
                background-color: $header-color;
                color: $text-color;
                padding-left: 10px;
                margin-right: 85px;
                font-size: 20px;
            }

            & .reg-button {
                cursor: pointer;
                width: 200px;
                height: 65px;
                display: flex;
                background: $header-color;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                border: 0;
                margin-left: 260px;
                margin-top: 30px;

                &:hover {
                    background-color: $button-bg-color;
                    transition: 0.25s ease;
                }
            }
        }

        & .form {
            display: flex;
            margin-bottom: 25px;

            & .form-registr {
                display: grid;
            }
        }
    }

    & .profile-exit {
        width: 200px;
        height: 65px;
        display: flex;
        background: $header-color;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        margin-left: 260px;
        margin-top: 30px;

        &:hover {
            background-color: $button-bg-color;
            transition: 0.25s ease;
        }

        & span {
            color: $text-color;
            font-size: 20px;
        }
    }

    & .add-product {
        margin-left: 0;
    }

    & .profile-basket {
        margin-top: 60px;

        & .profile-list-basket {
            padding: 0;
        }
    }

    & .main-list {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        /* Дозволяє елементам переходити на новий рядок */

        & .main-list-element {
            margin-right: 85px;
            margin-top: 40px;
            margin-bottom: 40px;
            display: block;
            position: relative;

            & .close-button {
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px;
                background-color: $button-bg-color;
                border: 1px solid $text-color;
                border-top-right-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #c3d9ee;
                }
            }

            & .main-list-element-a {
                display: block;
                border: 1px solid $text-color;
                border-radius: 10px;
                padding: 10px;
                background: $header-color;

                & img {
                    width: 169px;
                    height: 169px;
                }

                & span {
                    color: $text-color;
                    font-size: 20px;
                    margin-top: 15px;
                    display: table-caption;
                    width: 169px;
                }

                &:hover {
                    background-color: $button-bg-color;
                    transition: 0.25s ease;
                }
            }
        }
    }
}

.advertising-bg {
    display: flex;
    justify-content: right;
    margin-right: 60px;
    margin-top: 28px;

    & .advertising {
        text-align: center;

        & span {
            font-size: 28px;
            color: $text-color;
            font-weight: bold;
        }

        & .advertising-list {
            padding: 0;

            & img {
                width: 250px;
                margin-bottom: 40px;
            }
        }
    }
}

.footer-bg {
    display: flex;
    justify-content: center;
    background-color: $header-color;
    margin-top: 100px;

    & .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22.5px;

        & span {
            color: $text-color;
            font-size: 20px;

            & a {
                color: $text-color;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        & .top {
            font-size: 30px;
            font-weight: bold;
            margin-right: 40px;
            color: $text-color;
        }
    }
}